
.page-content {
	width: 100%;
	margin:  0 auto;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0, 0,7)), url(../image/slider-photo5.jpg);
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.form-v5-content  {
	background: rgb(36, 60, 71);
	width: 670px;
	border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 175px 0;
	font-family: 'Roboto', sans-serif;
	color: rgb(253, 254, 255);
	font-weight: 400;
	position: relative;
	font-size: 18px;
}
.form-v5-content .form-detail {
	padding: 30px 45px 30px 45px;
	position: relative;
}
.form-detail h2 {
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	position: relative;
	padding: 3px 0 20px;
	margin-bottom: 40px;
}
.form-detail h2::after {
	background: #3786bd;
	width: 50px;
	height: 2px;
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.form-detail .form-row {
	position: relative;
}
.form-detail .form-row-last {
	text-align: center;
}
.form-detail label {
	display: block;
	font-size: 18px;
	padding-bottom: 10px;
}
.form-detail .input-text {
	margin-bottom: 26px;
}
.form-detail input {
	width: 94.5%;
    padding: 10.5px 15px;
    border: 1px solid #e5e5e5;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
	-ms-appearance: unset;
	color: #111111;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.form-detail input:focus {
	border: 1px solid #b3b3b3;
}
.form-detail .register {
	font-size: 18px;
	color: #fff;
	background: #3786bd;
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 180px;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	border: none;
	margin: 19px 0 40px;
	cursor: pointer;
}
.form-detail .register:hover {
	background: #2f73a3;
}
.form-detail .form-row-last input {
	padding: 14px;
}
.form-detail i {
	font-size: 14px;
	color: black;
	right: 15px;
	top: 50%;
	margin-right: 20px;
	transform: translateX(-50%);
	position: absolute;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
  font-size: 16px;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #999;
  font-size: 16px;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #999;
  font-size: 16px;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #999;
  font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 767px) {
	.form-v5-content {
	    margin: 175px 20px;
	}
}



/* Footer */
#footer {
	background-color: deepskyblue;
	bottom: 0px;

	color: rgba(255, 255, 255, 0.5);
	padding: 8rem 0 6rem 0 ; }
	#footer input, #footer select, #footer textarea {
	  color: #ffffff; }
	#footer a {
	  color: #ce1b28; }
	#footer strong, #footer b {
	  color: #ffffff; }
	#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
	  color: #ffffff; }
	#footer blockquote {
	  border-left-color: rgba(255, 255, 255, 0.25); }
	#footer code {
		background-color: deepskyblue;
		border-color: rgba(255, 255, 255, 0.25); }
	#footer hr {
	  border-bottom-color: rgba(255, 255, 255, 0.25); }
	#footer input[type="submit"],
	#footer input[type="reset"],
	#footer input[type="button"],
	#footer button,
	#footer .button {
	  background-color: transparent;
	  box-shadow: inset 0 0 0 1px #ffffff;
	  color: #ffffff !important; }
	  #footer input[type="submit"]:hover,
	  #footer input[type="reset"]:hover,
	  #footer input[type="button"]:hover,
	  #footer button:hover,
	  #footer .button:hover {
		box-shadow: inset 0 0 0 1px #ce1b28;
		color: #ce1b28 !important; }
		#footer input[type="submit"]:hover:active,
		#footer input[type="reset"]:hover:active,
		#footer input[type="button"]:hover:active,
		#footer button:hover:active,
		#footer .button:hover:active {
		  background-color: rgba(206, 27, 40, 0.25); }
	  #footer input[type="submit"].primary,
	  #footer input[type="reset"].primary,
	  #footer input[type="button"].primary,
	  #footer button.primary,
	  #footer .button.primary {
		box-shadow: none;
		background-color: #ce1b28;
		color: #ffffff !important; }
		#footer input[type="submit"].primary:hover,
		#footer input[type="reset"].primary:hover,
		#footer input[type="button"].primary:hover,
		#footer button.primary:hover,
		#footer .button.primary:hover {
		  background-color: #e2212f;
		  box-shadow: none; }
		  #footer input[type="submit"].primary:hover:active,
		  #footer input[type="reset"].primary:hover:active,
		  #footer input[type="button"].primary:hover:active,
		  #footer button.primary:hover:active,
		  #footer .button.primary:hover:active {
			background-color: #b71824; }
	#footer label {
	  color: #ffffff; }
	#footer input[type="text"],
	#footer input[type="password"],
	#footer input[type="email"],
	#footer input[type="tel"],
	#footer input[type="search"],
	#footer input[type="url"],
	#footer select,
	#footer textarea {
	  background-color: rgba(255, 255, 255, 0.075);
	  border-color: rgba(255, 255, 255, 0.25); }
	  #footer input[type="text"]:focus,
	  #footer input[type="password"]:focus,
	  #footer input[type="email"]:focus,
	  #footer input[type="tel"]:focus,
	  #footer input[type="search"]:focus,
	  #footer input[type="url"]:focus,
	  #footer select:focus,
	  #footer textarea:focus {
		border-color: #ce1b28;
		box-shadow: 0 0 0 1px #ce1b28; }
	#footer select {
	  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E"); }
	  #footer select option {
		color: rgba(255, 255, 255, 0.5);
		background-color: #111111; }
	#footer input[type="checkbox"] + label,
	#footer input[type="radio"] + label {
	  color: rgba(255, 255, 255, 0.5); }
	  #footer input[type="checkbox"] + label:before,
	  #footer input[type="radio"] + label:before {
		background: rgba(255, 255, 255, 0.075);
		border-color: rgba(255, 255, 255, 0.25); }
	#footer input[type="checkbox"]:checked + label:before,
	#footer input[type="radio"]:checked + label:before {
	  background-color: #ce1b28;
	  border-color: #ce1b28;
	  color: #ffffff; }
	#footer input[type="checkbox"]:focus + label:before,
	#footer input[type="radio"]:focus + label:before {
	  border-color: #ce1b28;
	  box-shadow: 0 0 0 1px #ce1b28; }
	#footer ::-webkit-input-placeholder {
	  color: rgba(255, 255, 255, 0.4) !important; }
	#footer :-moz-placeholder {
	  color: rgba(255, 255, 255, 0.4) !important; }
	#footer ::-moz-placeholder {
	  color: rgba(255, 255, 255, 0.4) !important; }
	#footer :-ms-input-placeholder {
	  color: rgba(255, 255, 255, 0.4) !important; }
	#footer ul.alt li {
	  border-top-color: rgba(255, 255, 255, 0.25); }
	#footer table tbody tr {
	  border-color: rgba(255, 255, 255, 0.25); }
	  #footer table tbody tr:nth-child(2n + 1) {
		background-color: rgba(255, 255, 255, 0.075); }
	#footer table th {
	  color: #ffffff; }
	#footer table thead {
	  border-bottom-color: rgba(255, 255, 255, 0.25); }
	#footer table tfoot {
	  border-top-color: rgba(255, 255, 255, 0.25); }
	#footer table.alt tbody tr td {
	  border-color: rgba(255, 255, 255, 0.25); }
	#footer .highlights .content {
	  background: #111111;
	  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
	#footer .testimonials .content {
	  background: #111111;
	  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
	  #footer .testimonials .content .credit strong {
		color: #ce1b28; }
	#footer a {
	  color: rgba(255, 255, 255, 0.5);
	  text-decoration: none; }
	  #footer a:hover {
		color: #ce1b28; }
	#footer .content {
	  display: -moz-flex;
	  display: -webkit-flex;
	  display: -ms-flex;
	  display: flex; }
	  #footer .content section {
		width: 25%; }
		#footer .content section:first-child {
		  width: 50%;
		  padding-right: 4rem; }
		#footer .content section:last-child {
		  padding-left: 4rem; }
	#footer .copyright {
	  border-top: 1px solid;
	  font-size: 0.8rem;
	  opacity: 0.5;
	  padding: 2rem 0;
	  text-align: center; }
	@media screen and (max-width: 1280px) {
	  #footer {
		padding: 4rem 0 2rem 0 ; } }
	@media screen and (max-width: 980px) {
	  #footer .content {
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap; }
		#footer .content section {
		  width: 50%; }
		  #footer .content section:first-child {
			width: 100%;
			padding-right: 0; } }
	@media screen and (max-width: 736px) {
	  #footer {
		padding: 3rem 0 1rem 0 ; }
		#footer .content section {
		  width: 100%; }
		  #footer .content section:last-child {
			padding-left: 0; } }
	@media screen and (max-width: 480px) {
	  #footer {
		padding: 2rem 0 0.1rem 0 ; } }
  

